<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musica</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"></script>
    </head>
    <title>Música</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="menu">
                <div class="logo-y-menu">
                    <img src="/images/logo.png" alt="lqueenlogo" width="100" height="100">
                <nav>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/views/music/music.html">Música</a></li>
                        <li><a href="/views/dates/dates.html">Fechas en Vivo</a></li>
                        <li><a href="/views/news/news.html">Noticias</a></li>
                        <li><a href="/views/contact/contact.html">Contacto</a></li>
                    </ul>
            </nav>
                </div>
        
            </div>
            <div class="titular">
                <h1>Viaje <span class="violeta">Alternativo</span> para tus oídos</h1>
            
            </div>
        </div>
    </header>
    <section id="musica">
        <div class="contenedor">
    <h1>Música</h1>
    <a href="./index.html"></a>
    <a href="https://www.deezer.com/es/artist/169482517" title="Deezer"><img src="/images/deezer.png" alt="Deezer" width="80" height="80"></a>
    <a href="https://open.spotify.com/intl-es/artist/2vHtq7wOdiwWsGiaW0Q6zB?si=e7f_20tMTR2vN9SP3mLOIA&nd=1&dlsi=df4f83ddced74773" title="spotify">Spotify<img src="/images/spotify.png" alt="spotify" width="80" height="100"></a>
    <a href="https://music.youtube.com/channel/UCbiTepXzumzbCAwAOYdKmdg" title="YouTube Music">YouTube Music<img src="/images/ytmusic.png" alt="ytmusic" width="80" height="80"></a>
    <a href="https://music.apple.com/es/artist/lqueen/1623101699" title="apple music">Apple Music       <img src="/images/applemusic.png" alt="applemusic" width="80" height="80"></a>  
    <hr>
    <a href="/index.html">Volver a la Home</a>
        </div>
    </section>  
   
 
       
</body>
</html>