body {
    margin: 0;
    padding: 0;
    font-family: Pixelify Sans;
}
a {
text-decoration: none;
}
li{
    list-style: none;
}
.contenedor{
    width: 80%;
    max-width: 1280px; 
    margin: auto;
}

header{
    background: url(images/fondo.jpg);
    height: 80%;
}

header .menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20%;
}
header .logo-y-menu{
display: flex;
align-items: center;
}

nav ul {
    display: flex;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    color: white;
}
header a, .botones a {
    background: purple;
}
header .titular {
    margin-top: 40vh;
}
h1 {
    font-size: 50px;
    width: 100%;
}
.blanco {
background: white   !important;
}

.white {
    background: white !important;
}

#musica {
    background-color: rgb(246, 20, 235)
}

#musica h2 {
    margin: 0;
    color: none;
    border: 1px solid black;
    width: 230px;
    padding: 40px;
    border-radius: 50px;
}

#musica .contenedor{
    display: flex;
    align-items: center;
}

#musica span {
color: blueviolet;
text-decoration: underline;
}

#musica h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

#musica p {
    font-size: 14px;
    line-height: 20px;
}