<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>fechas en vivo</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"></script>
    </head>
    <title>Música</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="menu">
                <div class="logo-y-menu">
                    <img src="/images/logo.png" alt="lqueenlogo" width="100" height="100">
                <nav>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/views/music/music.html">Música</a></li>
                        <li><a href="/views/dates/dates.html">Fechas en Vivo</a></li>
                        <li><a href="/views/news/news.html">Noticias</a></li>
                        <li><a href="/views/contact/contact.html">Contacto</a></li>
                    </ul>
            </nav>
                </div>
        
            </div>
            <div class="titular">
                <h1>Viaje <span class="violeta">Alternativo</span> para tus oídos</h1>
                <div class="botones">
                    <a href="" class="blanco">Conocé MÁS</a>
                    <a href="" class="white">Próximas Fechas</a>
                </div>
            </div>
        </div>
    </header>
<section id="tour">
        <div class="contenedor">
            <div class="imagen">
                <img src="/images/tour.jpg" alt="vivo">
            </div>
            
            <div class="fechas">
                <div class="numero">29</div>
                <div class="fecha"><p>Dic 2023</p></div>
                <div class="lugar">La Tangente,Palermo Hollywood,C.A.B.A</div>
                <div class="boton"><a href="http://latangente.com.ar/">Comprar Entradas</a></div>
            </div>
        </div>
    </section>
</body>
</html>