<html lang="es-ar" dir="ltr">
    <head>
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/views/contact/styles.css">
    </head>
    <body>
        <header>
            <ul class="topnav">
                <li><a href="/index.html" title="Inicio"><img src="/images/lqueen.jpeg" width="50" height="50"></a></li>
                <li><a href="/index.html" title="Inicio">Inicio</a></li>
                <li><a href="/views/music/music.html" title="musica">Musica</a></li>
                <li><a href="/views/dates/dates.html" title="shows">Shows</a></li>
                <li class="right"><a href="/views/contact/contact.html" title="Contacto">Contacto</a></li>
            </ul>
        </header>
        <section>
            <h1>Medios de Contacto</h1>
        
            <li>Gmail: contactolq@gmail.com</li>
            

        </section>
        <footer>
           
        </footer>
    </body>
</html>